/*header*/
.header-container.header-1 .topbar-menu .widgettitle::before {
    content: "\e605";
    font-family: "Pe-icon-7-stroke";
    font-size: 26px;
}
.header-container.header-1 .topbar-menu .widgettitle::after {
    display: none;
}
.header-container.header-1 .topbar-menu .widgettitle {
    font-size: 0;
    height: 75px;
    line-height: 75px;
}
.header-container.header-1 .topbar-menu .menu-account-container {
    right: 0;
    left: inherit;
}
.header-container.header-1 .topbar-menu {
    margin-bottom: 0;
}
.wrapper .header-container .header-sticky.ontop.show .logo-sticky img {
    max-height: 40px !important;
}
.header-container .header-search .search-dropdown:hover::before {
    color: #a61e2f;
}
/*home*/
.product-categories .wpb_single_image .wpb_singleimage_heading {
    background: #fff;
    color: #a61e2f;
    font-size: 18px;
    top: 16px;
    left: 16px;
    padding: 5px 8px;
    bottom: inherit;
}
.wrapper .heading-title.style1:before {
    background: #fff url("images/favicon-2.png") center center no-repeat;
    background-size: contain;
    bottom: 10px;
}
/*message woocommerce*/
.main-container .woocommerce-message {
    border-top-color: #8fae1b;
}
.main-container .woocommerce-message::before {
    color: #8fae1b;
}
.toolbar .view-mode {
    display: none;
}
.woocommerce .shop-products-inner {
    width: 100%;
}
.main-container .shop_table th,
.main-container .shop_table td,
.main-container .shop_table td.product-name {
    text-align: left;
}
/*prodotto*/
@media (min-width: 768px) {
    .yith_magnifier_zoom_magnifier {
        display: none !important;
    }
}
.wcwl_optin input {
    display: block;
    float: left;
    width: 20px;
    top: 16px;
    margin-top: 6px;
    margin-right: 5px;
}
.wcwl_optin label {
    display: block !important;
}
.wcwl_optin:after {
    content: "";
    display: block;
    clear: both;
    min-height: 1px;
}
.wcwl_control .woocommerce_waitlist.button {
    margin-bottom: 20px;
}
.wcwl_elements {
    display: flex;
    flex-direction: column;
}
.wcwl_elements .wcwl_intro {
    order: 0;
}
.wcwl_elements > .wcwl_optin {
    order: 3;
    margin-bottom: 10px;
}
.wcwl_elements .wcwl_optin label {
    font-size: 13px;
}
.product .woocommerce-product-details__short-description:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce-category-description {
    margin-bottom: 40px;
    clear: both;
}
.shop_content .shop-title {
    display: block;
}
/*archive products*/
.archive .taxonomy-description {
    margin-bottom: 40px;
    text-align: center;
}
.archive .main-container .entry-header {
    margin-bottom: 20px;
    text-align: center;
}
/*contatti*/
.main-container.contact-page .social-icons li {
    display: inline-block;
    margin: 0 15px 0 0;
    position: relative;
    vertical-align: middle;
    z-index: 2;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-width: 0 !important;
}
.main-container.contact-page .social-icons li a {
    color: #777;
    display: block;
    padding: 0 5px;
    font-size: 20px;
}
/*list products*/
.toolbar .woocommerce-result-count {
    margin-right: 0;
}
/*form*/
.main-container.contact-page .wpcf7-form .form-check .wpcf7-list-item-label {
    border-width: 0 !important;
}
.main-container.contact-page .wpcf7-form .form-check label input[type="checkbox"] {
    background: #fff;
    border: none;
    height: 25px;
    outline: none;
    width: auto;
}
.main-container.contact-page form input.wpcf7-submit.button-contact {
    background-color: #323232;
    color: #fff;
}
.woocommerce form .password-input,
.woocommerce-page form .password-input {
    width: 100%;
}

/*form nl*/
.form-nl input[type="text"],
.form-nl input[type="email"] {
    width: 100%;
}

/*buttons*/
a.button-readmore,
.vc_btn3.vc_btn3-color-juicy-pink {
    border: 2px solid #e5e5e5;
    border-top-color: rgb(229, 229, 229);
    border-right-color: rgb(229, 229, 229);
    border-bottom-color: rgb(229, 229, 229);
    border-left-color: rgb(229, 229, 229);
    color: #323232;
    display: inline-block;
    font-family: Libre Franklin, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 54px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 35px;
    text-transform: uppercase;
}
a.button-readmore:hover,
.vc_btn3.vc_btn3-color-juicy-pink:hover, 
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover {
    background: #a61e2f;
    border-color: #a61e2f;
    color: #fff;
}
.form-nl .sib-default-btn.button,
.wcwl_control .woocommerce_waitlist.button {
    background: #ac0146;
    border-color: #ac0146;
    color: #fff;
}
.wcwl_control .woocommerce_waitlist.button:hover,
.wcwl_control .woocommerce_waitlist.button:focus,
.wcwl_control .woocommerce_waitlist.button:active,
.form-nl .sib-default-btn.button:hover,
.form-nl .sib-default-btn.button:active,
.form-nl .sib-default-btn.button:focus,
.btn.btn-slide,
#modal-newsletter .sib-default-btn button {
    background: #fff;
    border-color: #e0e0e0;
    color: #ac0146;
}
.btn.btn-slide:hover,
.btn.btn-slide:active,
.btn.btn-slide:focus,
a.vc_general.vc_btn3:hover,
a.vc_general.vc_btn3:active,
a.vc_general.vc_btn3:focus {
    background: #ac0146;
    border-color: #ac0146;
    color: #fff;
}

/*footer*/
.footer .vc_wp_custommenu ul li a:hover {
    color: #ac0146;
}
/*checkout*/
.main-container .woocommerce form #ws_opt_in_field {
    padding: 3px;
}
.main-container .shop_table.cart {
    margin: 0 0 60px 0;
}

/*shortcode tax woocommerce*/
.content-tax-home {
    background-color: #f7f7f7;
    padding-bottom: 40px;
}

.wrapper .content-tax-home .heading-title.style1::before {
    background-color:#f7f7f7;
}
.tax-woocommerce-shortcode {
}
.tax-woocommerce-shortcode .box-item {
    background-color: #fff;
    height: 100%;
}
.tax-woocommerce-shortcode .box-img {
    max-width: 100%;
    overflow: hidden;
}

.tax-woocommerce-shortcode .box-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.3s;
}
.tax-woocommerce-shortcode .box-img:hover img {
    transform: scale(1.04);
}
.tax-woocommerce-shortcode .item-column {
    margin-bottom: 30px;
}
.tax-woocommerce-shortcode .item-column .box-text{
    padding: 20px;
    line-height: 1.6;
}
.tax-woocommerce-shortcode .item-column .box-term-description{
    margin-bottom: 1rem;
    font-size: 16px;
}
.tax-woocommerce-shortcode .box-text h3 {
    margin-bottom: 1rem;
    font-size: 1.4em;;
}
.tax-woocommerce-shortcode .item-button i {
    transition: all linear 0.3s;
    transform: translateX(0);
    position: relative;
}
.tax-woocommerce-shortcode .item-button:hover i {
    transform: translateX(4px);
}
.tax-woocommerce-shortcode.style2 .row,
.tax-woocommerce-shortcode.style3 .row {
    align-items: center;
}

@media(min-width:576px) {
    .tax-woocommerce-shortcode.style3 .item-column .row {
        flex-direction: row-reverse;
    }
   /* .tax-woocommerce-shortcode.style2 .item-column .box-text .item-button,
    .tax-woocommerce-shortcode.style3 .item-column .box-text .item-button,
    .tax-woocommerce-shortcode.style2 .item-column .box-text,
    .tax-woocommerce-shortcode.style3 .item-column .box-text{
        font-size: 18px;
    }
    .tax-woocommerce-shortcode.style2 .item-column .box-text h3,
    .tax-woocommerce-shortcode.style3 .item-column .box-text h3{
        font-size: 1.4em;
    }*/
}
/*sidebar*/
#secondary .widget_product_categories, #secondary .woocommerce-widget-layered-nav, #secondary .widget_price_filter {
    background: #f7f7f7;
}
/*slide home*/
.slide-home-custom .row-container {
    width: 100% !important;
}
.slide-home-custom .btn.btn-slide {
    text-decoration: none;
    white-space: nowrap;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    margin-top: 20px;
}
.slide-home-custom .title-slide {
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 55px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 50px;
    border-color: rgb(102, 102, 102);
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
}
.slide-home-custom .sub-title-slide {
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 33px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 28px;
    border-color: rgb(102, 102, 102);
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
}
.slide-home-custom .sub-title-slide:first-child {
    margin-bottom: 0;
}

/*modal nl*/
#modal-newsletter #close-nl {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    color: #fff;
    background-color: #333;
}
#modal-newsletter #close-nl:hover {
    cursor: pointer;
}
#modal-newsletter .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
#modal-newsletter label {
    margin-bottom: 5px;
}
#modal-newsletter a {
    color:#ac0146;
}
#modal-newsletter input.sib-default-btn.button {
    border-width: 0;
    box-shadow: none;
    font-size: 1em;
    font-weight: 600;
    height: 50px;
    letter-spacing: 0;
    line-height: 46px;
    outline: none;
    overflow: hidden;
    padding: 0 30px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#modal-newsletter {
    position: fixed;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 0.4s;
    transform: translate(-120%, 120%);
    animation-name: animateModalNL;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    background-color: #fafafa;
    width: 300px;
    padding: 50px 20px 20px 20px;
    z-index: 999;
    margin-bottom: 0;
    box-shadow: 2px 17px 9px #999;
}
.grecaptcha-badge {
    /* position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0; */
}
@keyframes animateModalNL {
    from {
        transform: translate-(120%, 120%);
    }
    to {
        transform: translate(0, 0);
    }
}

/*small screen*/
@media (max-width: 991px) {
    /*tax shortcode*/
    .tax-woocommerce-shortcode .box-img img {
        height: 250px;
    }
    /*modal*/
    #modal-newsletter {
        display: none;
    }
    .header-container .header-mobile .sidebar-container .sidebar-mobile {
        background-color: rgba(255, 255, 255, 0.99);
    }
    .mobile-menu .mobile-menu-container ul.nav-menu > li > a,
    .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li a {
        color: #545454;
    }
    .header-container .header-mobile .sidebar-container .sidebar-mobile .mobile-menu .mobile-menu-container {
        margin-bottom: 40px;
    }
    .logo-container-img {
        max-width: 60%;
    }
    .menu-account-container li {
        display: block;
        width: 100%;
        clear: both;
        float: none;
    }
    .main-container .shop_table.cart {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 767px) {
    /*tax shortcode*/
    .tax-woocommerce-shortcode .box-img img {
        height: 300px;
    }
    .logo-container-img {
        max-width: 80%;
    }
    /* .hide-mobile {
         display: none;
     } */

    .product .woocommerce-product-gallery__image a,
    .product a.yith_magnifier_zoom {
        pointer-events: none;
    }
    .main-container .product-view .single-product-image.slider .images {
        padding-left: 5px;
    }
    /*slide*/
    .slide-home-custom .sub-title-slide {
        font-size: 40px;
    }
    .slide-home-custom .sub-title-slide {
        font-size: 20px;
    }
    .vc_row.slide-home-custom {
        padding-top: 80px !important;
        padding-bottom: 60px !important;
    }
    .main-container .woocommerce-message .button {
        float: none;
    }
    /*cart*/
    .shipping-calculator-form > p {
        display: block;
    }
}
@media (max-width: 575px) {
    /*tax shortcode*/
    .tax-woocommerce-shortcode .box-img img {
        height: auto;
    }
}